
@{
    ViewBag.Title = "ExtraWork";
}

<style>
    .header {
        margin-top: 10px;
        border-top-style: solid;
        border-top-width: 5px;
        border-top-color: #FF5F04;
        font-family: Calibri;
        font-size: 22px;
    }

    .addNew {
        padding: 5px;
        background-color: #FF5F04;
        color: white;
        float: right;
        margin: 10px;
        border-radius: 10px;
        text-decoration: none;
    }

        .addNew:hover {
            text-decoration: none;
        }

    table td {
        font-size: 13px;
    }

    table th {
        font-size: 13px;
    }
</style>
<div class="panel-group">
    <div class="panel panel-heading header">
        Extra Work Report
    </div>

    <div class="panel panel-body">
        <div class="card-header header-elements-inline">
            <script src="~/global_assets/js/demo_pages/picker_date.js"></script>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="d-block">Select SiteName</label>
                        <select name="empCategory" id="empCategory" class="form-control col-xs-12" style=" width:350%" required>
                            <option value="">--Please Select--</option>
                            @foreach (var item in ViewBag.SiteName)
                            {
                                <option value="@item.ID">@item.SiteName </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-2" style=" left :10%">
                    <div class="form-group">
                        <label>From Date</label>
                        <div class="input-group">
                            <span class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-calendar22" id="fromicon"></i></span>
                            </span>
                            <input type="date" class="form-control daterange-single-date" id="fromdate">
                        </div>
                    </div>
                </div>
                <div class="col-md-2" style=" left :8%">
                    <div class="form-group">
                        <label>To Date</label>
                        <div class="input-group">
                            <span class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-calendar22" id="toicon"></i></span>
                            </span>
                            <input type="date" class="form-control daterange-single-date" id="todate">
                        </div>
                    </div>
                </div>
                <div class="col-md-2" style=" left :8%;">
                    <button type="button" class="dropdown-item" id="btnSearch" style="padding: 8px; background-color: #FF5F04; color: white; margin: 20px; border-radius: 10px; width:60%;"> Search</button>

                </div>
            </div>
            <div class="card">
                <div class="card-header header-elements-inline">
                    <div class="header-elements">
                        <div class="list-icons" style="margin-left:85%;">

                            @*<button href="#" class="dropdown-item" id="btnSearch"><i class="icon-search4"></i> Search</button>*@
                            <button href="#" class="dropdown-item" id="exportexcel"><i class="icon-file-excel" style=" width:50%;"></i> PDF</button>
                            <button href="#" class="dropdown-item" id="exportexcel"><i class="icon-file-excel"></i> .xlsx</button>
                            <button href="#" class="dropdown-item" id="btnprint"><i class="icon-printer"></i> Print</button>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <table class="table datatable-basic table-bordered table-striped table-hover" id="tblempdetails">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Date</th>
                                <th>Head Name</th>
                                <th>Description</th>
                                <th>Length</th>
                                <th>Deapth</th>
                                <th>Breath</th>
                                <th>Nos</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Amount</th>

                            </tr>
                        </thead>
                        <tbody id="tblDetails"></tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
            $('#empCategory').select2();
        $("#exportexcel").click(function () {
            exportToExcel();
        });

        $("#btnprint").click(function () {
            printData();
        });

        $("#btnSearch").click(function () {
            var id = document.getElementById("empCategory");
             var category = id.options[id.selectedIndex].value;
            Details(category);
        });

    });
    function Details(category) {
        $("#tblDetails").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Reports/EmpDetails")',
            dataType: 'json',
            data: { CATEGORY: category },
            success: function (result) {
                var data = JSON.parse(result);
                var row;
                for (var i = 0; i < data.length; i++) {
                    row = '<tr>';
                    row += '<td>' + data[i].employeeid + '</td>';
                    row += '<td>' + data[i].name + '</td>';
                    row += '<td>' + data[i].Category + '</td>';
                    row += '<td>' + data[i].Department + '</td>';
                    row += '<td>' + data[i].biocode + '</td>';
                    row += '<td>' + data[i].bisSalary + '</td>';
                    row += '<td>' + data[i].status + '</td>';
                    row += '</tr>';
                    $("#tblDetails").append(row);
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    function exportToExcel() {
        var wscols = [
            { wch: 10 },
            { wch: 20 },
            { wch: 15 },
            { wch: 15 },
            { wch: 15 },
            { wch: 15 },
        ];
        var wb = XLSX.utils.table_to_book(document.getElementById("tblempdetails"), {
            sheet: "Advance",
            raw: true,
        });
        wb.Sheets["Advance"]["!cols"] = wscols;
        var wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'binary' });
        saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), "Employee Details.xlsx");
    }
    function printData() {
        var divToPrint = document.getElementById('tblempdetails');
        var htmlToPrint = '' +
            '<style type="text/css">' +
            'table, th, td {' +
            'border:1px solid #000;' +
            ' border-collapse: collapse;' +
            'padding:15px;' +
            '}' +
            '</style>';
        htmlToPrint += divToPrint.outerHTML;
        newWin = window.open("");
        newWin.document.write(htmlToPrint);
        newWin.print();
        newWin.close();
    }

    function s2ab(s) {
        var buf = new ArrayBuffer(s.length);
        var view = new Uint8Array(buf);
        for (var i = 0; i < s.length; i++) {
            view[i] = s.charCodeAt(i) & 0xFF;
        }
        return buf;
    }
</script>


